/* Reset default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Header */
header {
  background-color: #2ecc71;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

/* Sections */
section {
  padding: 40px 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
}

/* Headings */
h2 {
  color: #2ecc71;
  margin-bottom: 15px;
}

/* Lists */
ul {
  list-style: square;
  padding-left: 20px;
}

/* General links */
a {
  text-decoration: underline;
  color: blue;
}

a:hover {
  color: #2ecc71;
}


#contact p {
  color: #000;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}



